<div class="containe mt-2">
  <div class="row">
    <div class="mx-auto mt-2">
      <h1>
      Welcome to <strong><i class="fa-solid fa-book"></i>Bookers</strong>!
      </h1>
    </div>
  </div>
</div><!--container閉じタグ-->